name: Test
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17 # keep in sync with Dockerfile / .go-version / go.mod
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test
      run: make test


