name: Test
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.14 # keep in sync with Dockerfile and .go-version
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test
      run: make test


